h1 {text-align: center;
     color: coral;}
h2 {text-align: center;
    background-color: rgb(4, 0, 255);}
#ima1 {margin-left: 4%;
       width: 40%;
       border-style: dotted;
    border-color: rgb(255, 0, 0);
    margin-left: 50%;} 
body {background-color: rgb(241, 234, 234);}

#ima2 {width: 40%;
       border-style: dotted;
       border-color: rgb(255, 0, 0);}
h3 {text-align: center;
    background-color: chartreuse;}





    
