h1 {text-align: center;
     color: coral;}
h2 {margin-left: 6%;
    background-color: rgb(4, 0, 255);}
#ima1 {margin-left: 4%;
       width: 40%;
       border-style: dotted;
    border-color: rgb(255, 0, 0);}
body {background-color: rgb(187, 167, 167);}

#ima2 {width: 40%;
       margin-left: 60%;
       border-style: dotted;
       border-color: rgb(255, 0, 0);}
h3 {text-align: center;
    background-color: chartreuse;}





